* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat;
    background: #f5f7fa;
    padding: 40px;
}
.aside-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
    margin-bottom: 20px;
}
.contacts-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 10px;
}
.orange-text {
    color: #ff6b08;
}
.period {
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.period-divider {
    color: black;
}
.aside-sub-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.aside-container {
    background: #1e2939;
    width: 370px;
    padding-top: 0px;
    padding-bottom: 40px;
    color: #ffffff;
}
.aside-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 14px;
    color: #ff6b08;
}
.aside-item-text {
    color: #ffffff;
}
.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.main-container {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 8.7px 20px 0 rgba(0, 0, 0, 0.15);
}
.main-image {
    width: 370px;
}
.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
}
.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.about-me-sub-container {
    margin-bottom: 55px;
}
.info-sub-container {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.projects-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.tech-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.dots {
    color: #595959;
    font-weight: 100;
}
.projects-item {
    font-weight: 700;
    margin-left: 17px;
}
.info-sub2-container {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 8;
    margin-bottom: 14;
}
.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}
.profession-duties-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.speciality {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}